<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--add name="MsgZap.Properties.Settings.gestor2ConnectionString" connectionString="Data Source=HI-ESC-VM\SQLEXPRESS;Initial Catalog=;Persist Security Info=True;User ID=sa;Password=" providerName="System.Data.SqlClient"/-->
        <add name="MsgZap.Properties.Settings.gestor2ConnectionString" connectionString="Data Source=.;Initial Catalog=;Persist Security Info=True;User ID=;Password=" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>

